$emptyness-color: #181818;
$part-title-color: #054db9;
$sec-title-color:  #313131;
$hover-color: #cf8a05;
$text-color: #222;
$org-color: #444;
$cv-color:  #f3f3f3;
$person-color: darken($cv-color, 5);
$left-size: 12%;
$pad-size: 2.5%;
$right-size: 100% - $left-size - $pad-size;
$sec-margin-top: 0.3em;
$font: 'Barlow';

$small-screen: "screen and (max-width: 700px)";
$large-screen: "print, (min-width: 700px)";

html,body,div,span,p,ul,li,h1,h2,h3
{
    border:0;
    margin:0;
    padding:0;
    vertical-align:baseline;
    text-align: justify;
    list-style-type: none;
    font-family: $font !important;
    font-weight: 400;
}

body {
    background: $emptyness-color;
    color: $text-color;
}

#cv {
    @media not print {
	background: $cv-color;
    }
    
    width: 100%;

    @media #{$large-screen} {
	max-width: 800px;
	margin: 30px auto;
    }

    @media print {
	margin: 0;
    }
}

#person {
    border-bottom: 2px solid $part-title-color;
    background: $person-color;

    @media print {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
    }
    
    @media #{$large-screen} {
	padding: 5px 30px;

	#avatar {
	    width: $left-size;
	    float: left;
	    margin-right: $pad-size;
	    margin-top: 0.8em;

	    img {
		width: 100%;
		height: auto;
		display: inline-block;
	    }
	}
    }

    @media #{$small-screen} {
	#avatar {
	    display: none;
	}
	
	padding: 0.5em 0.5em 0.5em 0.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
    }
    
    #name {
	display: inline-block;

	@media #{$large-screen} {
	    h1 {
		font-size: 2.5em;
		font-weight: 700;
	    }

	    h2 {
		font-size: 2em;
	    }
	}
	@media #{$small-screen} {
	    h1 {
		font-size: 1.5em;
		font-weight: 400;
	    }
	    
	    h2 {
		font-size: 1em;
	    }
	}
    }

    #contacts {
	margin-top: 0.5em;
	float: right;

	@media #{$small-screen} {
	    font-size: 0.8em;
	    margin-right: 0.5em;
	}
	
	a {
	    text-decoration: none;
	    &:hover {
		color: $hover-color;
	    }	
	}
    }
}

#cvbody {
    @media #{$large-screen} {
	padding: 0.5em 30px 20px;
    }
    @media #{$small-screen} {
	padding: 1em 1em;
    }
    
    clear: both;
}

.title {
    display: inline-block;
    padding: 0px 0px 10px;

    @media #{$large-screen} {
	float: right;
	width: $right-size;
    }

    @media #{$small-screen} {
	float: left;
	width: 100%;
	margin: auto;
    }
    
    h1 {
	font-size: 1.7em;
	color: $part-title-color;
    }

    h2 {
	font-size: 1.7em;
	color: $sec-title-color;
    }
}

.sectitle {
    float: left;
    width: $left-size;

    h1 {
	font-weight: 400;
	color: $sec-title-color;
    }
}


#summary {
    .sectitle {
	h1 {
	    text-align: right;
	}
	
	@media #{$small-screen} {
	    float: none;
	    margin-bottom: 0.5em;
	    clear: both;
	    width: 100%;
	    text-align: left;
	}
    }

    @media #{$small-screen} {
	.secbody {
	    float: none;
	    width: 100%;
	    display: inline;
	    margin-bottom: 0.1em;
	}
    }	
}

.employment {
    .sectitle {
	text-align: center;

	h1 {
	    margin-top: 0.4em;
	    font-size: 100%;
	}

	div,h1,img {
	    text-align: center;
	}

	@media #{$large-screen} {
	    img {
		width: 75%;
		height: auto;
		margin: auto;
		margin-top: 0.5em;
		display: inline-block;
	    }
	}

	@media #{$small-screen} {
	    img {
		display: none
	    }
	}
    }
	
    @media #{$small-screen} {
	.sectitle {
	    float: right;
	    display: inline;
	    width: 10%;
	    font-size: 0.8em;

	}
	.secbody {
	    clear: both;
	    float: none;
	    width: 100%;
	    display: inline;
	}
	
	.subsection {
	    background: $cv-color;
	    position: relative;
	    float: left;
	    width: 100%;
	    height: 0.1em;
	}

	#article {
	    margin-bottom: 0.5em;
	}
	
    }
}

.secbody {
    float: right;
    width: $right-size;

    .secheader {
	margin-bottom: 0.3em;
    }
    
    h2 {
	@media #{$large-screen} {
	    font-size: 1.5em;
	}

	@media #{$small-screen} {
	    font-size: 1.3em;
	}
	
	text-align: left;
    }

    h3 {
	font-style: italic;
	font-size: 1em;
	
	@media #{$small-screen} {
	    text-align: left;
	}
    }
    
    li:last-child {
	margin-bottom: 0.7em;
    }
}

.keyword {
    color: #000;
    font-weight:bold;
}

.icon:before {
    font: normal 16px/1 'FontAwesome';
    margin-right: 0.2em;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.contact:before {
    font-family: 'FontAwesome';
    margin-right: 0.2em;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.corp {
    color: $org-color;
    text-decoration: none;

    &:before {
	content: '@';
	display: inline-block;
	margin-left: 0.2em;
    }
}

.section {
    background:	$part-title-color !important;
    position: relative;

    @media print {
	-webkit-print-color-adjust: exact;
    }
    
    @media #{$large-screen} {
        top: 0.7em;
	float: left;
	width: $left-size;
	height: 0.5em;
    }

    @media #{$small-screen} {
	top: 2em;
	float: left;
	width: 100%;
	height: 0.1em;
    }
}

.clear {
    clear: both;
}

@media #{$large-screen} {
    .logo {
	position: relative;
	display: inline-block;
	content: "";

	margin-top: 0.35em;
	left: 0;
	height: auto;
    }
}
@media #{$small-screen} {
    .logo {
	display: none;
    }
}

@media print {
    .old {
	display: none;
    }
}
