@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/BarlowCondensed-Italic.ttf);
}

@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/BarlowCondensed-BoldItalic.ttf);
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/BarlowCondensed-Regular.ttf);
}

@font-face {
  font-family: 'Barlow';
  font-style: bold;
  font-weight: 700;
  src: url(/fonts/BarlowCondensed-Bold.ttf);
}
